*{
    box-sizing: border-box;
}

header {
    width: 960px;
    align-content: center;
}

header>ul {
    display: inline-block;
    float: right;
    margin-top: 15px;
    align-content: center;
}

img {
    display: block;
    border: 4px rgb(87, 50, 5) solid;
    border-radius: 100px;
    margin: auto;
    align-content: center;
    z-index: 10;
}

body {
    font-family: 'Arial Narrow Bold', sans-serif;    
    background-color: rgb(211, 181, 144);
    background-image: url=('https://media-cdn.tripadvisor.com/media/photo-s/03/9e/91/fb/the-cookie-factory.jpg');
    color: black;
}

body h3 a {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

body>header>div {
    display: inline-block;
}

p {
    font-family: 'Arial Narrow Bold', sans-serif;
    color: black;
    text-align: center;
}

h1 {
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-display: auto;
    font-size: 300%;
    font-weight: 200px;
    color: rgb(209, 118, 6);
    text-align: center;
    background-image: 'https://media-cdn.tripadvisor.com/media/photo-s/03/9e/91/fb/the-cookie-factory.jpg'
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-display: auto;
    color: rgb(124, 70, 3);
    text-align: center;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

h4 {
    color: black;
}

a {
    color: rgb(211, 181, 144);
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

tr:nth-child(1) {
    background-color: salmon;
    opacity: 0.8;
}

tr:nth-child(3n) {
    background-color: rgb(250, 150, 200);
}

li {
    color: black;
}

ul{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200px;
    color:brown;
    text-align: left;
    border: 2px salmon solid;
    border-radius: 15px;
    border-width: 4px;
    border-spacing: 0px;
    border-bottom-style: ridge;
    margin-right: 26px;
    margin-left: 10px;
}
form legend {
    font-family: Arial, Helvetica, sans-serif;
}
form p {
    text-align: left;
}